{% extends 'ucnitk/base.html' %}

{% load static %}

{% block content %}
<div class="container" style="width:1100px;height:600px; position:relative;">

    <div class="container">
      Messages
      {% for message in messages %}
      <a class="{% if active_direct == message.user.username %}is-active{% endif %}" href="{% url 'directs' message.user.username %}">
        <div class="container" style="padding:5px">
            {% if message.user.profile.image.url %}
              <img src="{{ message.user.profile.image.url  }}" alt="Placeholder image" style="border-radius:50px; width:50px">
            {% else %}
              <img src="https://bulma.io/images/placeholders/96x96.png" alt="Placeholder image" style="border-radius:50px; width:50px">
            {% endif %}
              <small>@{{ message.user.username }}</small>
            {% if message.unread %}
              <i class="material-icons">mark_chat_unread</i> {{ message.unread }}
            {% endif %}
          </div>
    </a>
    {% endfor %}
    </div>


    <div class="column">

        <div style="overflow-y: scroll; height: 500px">

        {% for direct in directs %}
        <div class="box">
          <article class="media">
            <div class="media-left">
            </div>
            <div class="media-content">
              <div class="content">
                <p>
                  <strong>{{ direct.sender.profile.first_name }} {{ direct.sender.profile.last_name }}</strong> <small>@{{ direct.sender.username }}</small> on: <strong><small>{{ direct.date|date:'N d G:i'}}</small></strong>
                </p>
                {{ direct.body }}
              </div>
            </div>
          </article>
        </div>
        {% endfor %}
        </div>


    <form role="form" method="POST" action="{% url 'send_direct' %}">
      {% csrf_token %}
    <article class="media">
      <figure class="media-left">
        <p class="image is-64x64">
          {% if message.user.profile.image.url %}
            <img src="{{ message.user.profile.image.url  }}" alt="Placeholder image" style="border-radius:50px; width:50px">
          {% else %}
            <img src="https://bulma.io/images/placeholders/96x96.png" alt="Placeholder image" style="border-radius:50px; width:50px">
          {% endif %}
        </p>
      </figure>
      <div class="media-content">
        <input type="hidden" name="to_user" value="{{ active_direct }}">
        <div class="field">
          <p class="control">
            <textarea class="textarea" name="body" placeholder="Add a comment..."></textarea>
          </p>
        </div>
        <nav class="level">
          <div class="level-left">
            <div class="level-item">
              <button type="submit" name="action" class="button is-info">Send</button>
            </div>
          </div>
        </nav>
      </div>
    </article>
    </form>

    </div>


</div>

<div class="container" style="width:200px; position:fixed; right:100px; bottom:100px">
  <a href="{% url 'usersearch' %}" class="button is-success">New message</a>
</div>

{% endblock %}
