
{% extends "ucnitk/base.html" %}
{% load static %}


{% block content %}

<div class="row">
  <div class="col-md-4"></div>
  <div class="col-md-4">
    <div class="card mt-5">


      <div class="card-body">
        <div class="card-title py-3 text-center">
          <h4>Login to your  account</h4>
        </div>

        {% if messages %}
        <div class="messages">
          {% for message in messages %}
          <div{% if message.tags %} class="alert alert-sm alert-{{ message.tags }}"{% endif %}>
              {{ message }}
          </div>
          {% endfor %}
        </div>
        {% endif %}

        <form action="{% url 'login' %}" method="post">
          {% csrf_token %}

          <div class="form-group">
            <input
              type="text"
              name="username"
              placeholder="usernameee"
              id="usernameField"
              value="{{fieldValues.username}}"
              class="form-control form-control-sm"
            />
          </div>
          <p class="text-sm text-success usernameSuccessOutput"></p>
          <div class="form-group">
            <input
              type="password"
              name="password"
              placeholder="Password"
              class="form-control form-control-sm"
              id="passwordField"
            />
          </div>
          <div class="text-center">
            <input type="submit" value="Login" class="btn btn-block btn-primary submit-btn" style="margin:10px; position:relative" />
          </div>

        </form>


        <a class="" href="{% url 'register' %}" style="margin:10px">New User</a>

      </div>

      </div>
    </div>
  </div>
  <div class="col-md-4"></div>
</div>

<script src="{% static 'js/register.js' %}"></script>

{% endblock content %}
