{% extends "ucnitk/base.html" %}

{% load static %}

{% block content %}
    
    <div class="row">
        <div class="col-lg-4">
          <img class="rounded-circle" src="{% static 'images/electrician.jpeg' %}" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Electrician</title><rect width="100%" height="100%" fill="#777"/></img>
          <p></p>
          <p><button class="btn btn-primary">Electrician</button></p>
        </div><!-- /.col-lg-4 -->

        <div class="col-lg-4">
          <img class="rounded-circle" src="{% static 'images/cleaner.jpg' %}" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Cleaner</title><rect width="100%" height="100%" fill="#777"/></img>
          <p></p>
          <p><button class="btn btn-primary">Cleaner</button></p>
        </div><!-- /.col-lg-4 -->

        <div class="col-lg-4">
          <img class="rounded-circle" src="{% static 'images/salon.jpg' %}" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Salon</title><rect width="100%" height="100%" fill="#777"/></img>
          <p></p>
          <p><button class="btn btn-primary" >Salon</button></p>
        </div><!-- /.col-lg-4 -->
      </div><!-- /.row -->
  
      <div class="row">
        <div class="col-lg-4">
          <img class=" rounded-circle" src="{% static 'images/laundry.jpg' %}" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Laundry</title><rect width="100%" height="100%" fill="#777"/></img>
          <p></p>
          <p><button class="btn btn-primary">Laundry</button></p>
        </div><!-- /.col-lg-4 -->
  
        <div class="col-lg-4">
          <img class="rounded-circle" src="{% static 'images/delivery.jpg' %}" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Delivery</title><rect width="100%" height="100%" fill="#777"/></img>
          <p></p>
          <p><button class="btn btn-primary">Delivery</button></p>
        </div><!-- /.col-lg-4 -->
  
        <div class="col-lg-4">
          <img class="rounded-circle" src="{% static 'images/plumber.jpg' %}" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Plumber</title><rect width="100%" height="100%" fill="#777"/></img>
          <p></p>
          <p><button class="btn btn-primary">Plumber</button></p>
        </div><!-- /.col-lg-4 -->
      </div><!-- /.row -->

      {% for servicelist in servicetable %}
        <div class="row">
          {% for service in servicelist %}
            <div class="col-lg-4">
              <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#777"/><text x="50%" y="50%" fill="#777" dy=".3em">140x140</text></svg>
              <p></p>
              <p><button class="btn btn-primary" type="submit" name="submit" value="{{service}}">{{service}}</button></p>
            </div><!-- /.col-lg-4 -->
          {% endfor %}
        </div>
      {% endfor %}

      <br><br>

      <center><a href="{% url 'order-create' %}" >Order now</a><center>

{% endblock content %}
