{% extends "ucnitk/base.html" %}

{% block content %}
    <div class="wrapper">
        <div class="card" style="padding: 5%;">
            <h3>Order Service form</h3>
            <form  method="post" >
                <div class="form-group">
                    <label for="service_type">Service Type :</label>
                    <select id="service_type"  required>
                        <option value="select">select</option>
                        <option value="Electrician">Electrician</option>
                        <option value="Cleaner">Cleaner</option>
                        <option value="Salon">Salon</option>
                        <option value="Laundry">Laundry</option>
                        <option value="Delivery">Delivery</option>
                        <option value="Plumber">Plumber</option>    
                    </select>
                </div>
                <div class="form-group">
                    <label for="preferred_time">Preferred time for the service to be provided :</label>
                    <select id="preferred_time"  required>
                        <option value="Anytime">Anytime</option>
                        <option value="10-12">10AM - 12PM</option>
                        <option value="10-12">2PM - 5PM</option>
                        <option value="10-12">5AM - 8PM</option>
                    </select>
                </div>
                <!--<div class="form-group">
                    <label for="first_name">First Name </label>
                    <input type="text" id="first_name" placeholder="First Name" name="first_name" required>
                </div>-->
                <div class="form-group">
                    <label for="description">Description :</label>
                    <input type="text" id="description" placeholder="Description" style="width:500px; height: 100px;" required>
                </div><div class="form-group">
                    <label for="pick_up">Pick Up Location(only for Delivery service) :</label>
                    <input type="text" id="pick_up" placeholder="Pick Up">
                </div>
            </form>
        </div>
    </div>
{% endblock content %}