
	<div class="header">
    	<div class="logo">
            <a href="#"><img src="https://i.imgur.com/zyu6Nl9.png" alt="logo" width="175"></a>
        </div>
    </div>
    
    <div class="navBar">
    	<nav id="mainNav">
        	<ul>
            	<li><a href="#">Home</a></li>
            	<li><a href="#">Current</a></li>
            	<li><a href="#">New</a></li>
            </ul>
            <div class="searchIcon">
            	<form id="searchForm" action="#" method="post">
                    <input type="text" placeholder="search..." class="searchBox" id="mySearch">
                    <button id="searchBtn" type="button"><img src="https://i.imgur.com/8Pz5ZpX.png" alt="search-icon" width="20"></button>
                </form>
            </div>
        </nav>
    </div>
    
    <div class="container">
    	<form action="#" method="post">
        	<div class="formElement">
                <label class="label" for="appName">Enter the Application Name:</label>
                <input type="text" placeholder="Text Here..." id="appName">
            </div>
            
        	<div class="formElement">
                <label class="label" for="appSelect">What is the impact of this application if it's down?:</label>
                <label class="select">
                    <select id="appSelect">
                        <option value="red">Red</option>
                        <option value="yellow">Yellow</option>
                    </select>
                </label>
            </div>
            
        	<div class="formElement">
                <label class="label">What type of environment is this?</label>
                <input type="radio" name="environment" id="dev"><label for="dev">Dev</label>
                <input type="radio" name="environment" id="qa"><label for="qa">QA</label>
            </div>
            
        	<div class="formElement">
                <label class="label" for="hostNames">Enter Hostnames</label>
                <textarea id="hostNames">Text Here...</textarea>
            </div>
        	<div class="formElement">
            	<label class="label"></label>
            	<input type="submit" value="Submit" name="submit">
            </div>
        </form>
    </div>
