{% extends "ucnitk/base.html" %}
{% block content %}

<div class="content-section " style="background-color:white; border-radius:10px; width:50%; margin:auto;margin-bottom:10px; padding:20px; border-style:ridge; box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;">
  <article class="media content-section">
      <div class="media-body">
      <div class="article-metadata">
          <h2 class="mr-2" >{{ object.Customer}}</h2>
          <!-- ############# Displaying the status of the order ########### -->
          <!-- ############# Only to the Customer and the Service Provider who accepted the Order ########### -->


          <!-- {% if user == object.Customer or user == object.ServiceProvider and order.Status == 'Not Accepted' %}
              <small class = "text-muted"> Order Placed on {{ order.QueuedTime}}</small>
          {% elif user == object.Customer or user == object.ServiceProvider and order.Status == 'Accepted' %}
              <small class = "text-muted"> Order Accepted on {{ order.AcceptedTime}}</small>
          {% elif user == object.Customer or user == object.ServiceProvider %}
              <small class = "text-muted"> Order completed on {{ order.FinishedTime}}</small>
          {% endif %} -->


      </div>
      <h4><a class="article-title" href="#">{{ object.ServiceType }}</a></h2>
      <p class="article-content">{{ object.Description}}</p>
      <p class="article-content">{{ object.PreferredTime}}</p>
      <p class = "article-content"> The status is {{object.Status}}</p>
      <!-- ####### Add Appropriate button based on the status of the order ############-->
       {% if user == object.Customer %}
        <a class="btn btn-primary" href="{% url 'issues' %}">help and support</a>
    
      {% endif %}

      {% if user != object.Customer and not object.ServiceProvider %}
          <a class="btn btn-primary" href = "{% url 'accept-order' object.id %}">Accept Order</a>

      {% elif user == object.Customer and object.Status == 'Not Accepted' %}
          <!--Delete Order Premanently -->
          <a class="btn btn-primary" href = "{% url 'delete-order' object.id %}">Delete Order</a>

      {% elif user == object.Customer and object.Status == 'Accepted' %}
          <!--Show that Order is in Progress-->
          <!-- Provide link of the user for messaging -->
          <small class = "text-muted">Order accepted by {{object.ServiceProvider}} : {{ order.AcceptedTime}} </small>
          <!-- Or provide a button for messaging -->

      {% elif user == object.Customer and object.Status == 'Pending Payment' %}
          
            <!-- Make Payment -->
            <br><br>
            <h6>Quoted price : INR {{object.Price}} </h6>
            <!--<a class="btn btn-primary" href = "#">Pay for Order</a>-->
            <button id="rzp-button1" class="btn btn-lg btn-primary btn-block" type="button">Pay Now</button>

      {% elif user == object.Customer and object.Status == 'Completed' %}
          <!-- Give Review button here -->
          <a class="btn btn-primary" href="{% url 'review' object.id %}" >Review</a>
          <small class="text-muted">Order Completed : {{ order.CompletedTime}}</small>

      {% elif user == object.ServiceProvider and object.Status == 'Accepted' %}
          <!-- Finish Order or Cancel temporarily -->
          <a class="btn btn-primary" href = "{% url 'cancel-order' object.id %}">Cancel Order</a>
          <br>
          <form action="{% url 'finish-order' object.id %}" method="post">
            {% csrf_token %}
            
            <div class="form-group">
                <label for="price">Quote price for Service :</label>
                <input 
                    type="number" 
                    min="10" 
                    max="500" 
                    id="price"
                    placeholder="Quote Price" 
                    name="price" 
                    style="width:120px;"
                    required
                />
            </div>
            <button type="submit" class="btn btn-primary"  value="Submit">Finish Order</button>
          </form>

      {% elif user == object.ServiceProvider and object.Status == 'Pending Payment'%}
          <!-- Collect Payment -->
          <!-- Just send a notification saying completed -->
          <a class="btn btn-primary" href = "#">Confirm payment by Customer</a>

      {% elif user == object.ServiceProvider and object.Status == 'Completed' %}
          <small class="text-muted">Order Completed : {{ order.CompletedTime}}</small>

      {% else %}
          <!-- User is neither the service provider nor the customer of the order here -->
          <!-- Order already accepted -->
          <small class = "text-muted"> Order already accepted on {{ order.AcceptedTime}}</small>

      {% endif %}
      </div>
  </article>
</div>
{% endblock content %}

<!--script for razorpay payment gateway-->
{% block js %}
<script src="https://checkout.razorpay.com/v1/checkout.js"></script>
<script>
  var options = {
    "key": "{{razorpay_merchant_id}}", 
    "amount": "{% widthratio final_price 1 100 %}", // Amount is in currency subunits. Default currency is INR. Hence, 50000 refers to 50000 paise
    "currency": "INR",
    "name": "UC NITK",
    "description": "{{order.Description}}",
    "order_id": "{{order_id}}", //This is a sample Order ID. Pass the `id` obtained in the response of Step 1
    "callback_url": "{{callback_url}}",
    "prefill": {
      "name": "{{request.user.name}}",
    },
    "theme": {
      "color": "#2BA977"
    }
  };
  var rzp1 = new Razorpay(options);
  document.getElementById('rzp-button1').onclick = function (e) {
    rzp1.open();
    e.preventDefault();
  }
</script>
{% endblock %}
