{% extends "ucnitk/base.html" %}
{% block content %}
<article class="media content-section">
    <div class="media-body">
    <div class="article-metadata">
        <h2 class="mr-2" >{{ order.Customer}}</h2>
        <small class="text-muted">{{ order.QueuedTime}}</small>
    </div>
    <h4><a class="article-title" href="#">Service Type</a></h2>
    <p class="article-content">{{ order.Description}}</p>
    <h5>{{ order.AcceptedTime}}</h5>
    {% if order.ServiceProvider == None %}
    <a class="btn btn-primary" href = "{% url 'accept-order' order.id %}">Accept Order</a>
    {% endif %}
    </div>
</article>
{% endblock content %}
