{% extends "ucnitk/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div class="content-section " style="background-color:white; border-radius:10px; width:50%; margin:auto; padding:20px; border-style:ridge; box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;">

    <div class="content-section">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4 text-center" style="textcolor:red">New Order</legend>
                {{ form|crispy }}
            </fieldset>
            <div class="form-group text-center" style="margin:10px">
                <button class="btn btn-outline-info" type="submit">Place Order</button>
            </div>
        </form>
    </div>
  </div>
{% endblock content %}
