{% extends "ucnitk/base.html" %}
{% block content %}
<article class="media content-section">
    <div class="media-body">
    <div class="article-metadata">
        <h2 class="mr-2" >{{ object.Customer}}</h2>
        <small class="text-muted">{{ object.QueuedTime}}</small>
    </div>
    <h4><a class="article-title" href="#">{{ object.ServiceType }}</a></h2>
    <p class="article-content">{{ object.Description}}</p>
    
    {% if user != object.Customer and not object.ServiceProvider %}
        <a class="btn btn-primary" href = "#">Accept Order</a>
    {% endif %}
    
    

    </div>
</article>
{% endblock content %}
