{% extends "ucnitk/base.html" %}

{% block content %}
    <form>
        <article class="media content-section">
            <div class="media-body">
            <div class="article-metadata">
                <a class="mr-2" href="#">Customer</a>
                <small class="text-muted">Date Ordered</small>
            </div>
            <h4><a class="article-title" href="#">Service Type</a></h2>
            <p class="article-content">Description</p>
            <h5>Preferred Timing</h5>
            <button class="btn btn-primary">View Order</button>
            </div>
        </article>

        <article class="media content-section">
            <div class="media-body">
            <div class="article-metadata">
                <a class="mr-2" href="#">Customer</a>
                <small class="text-muted">Date Ordered</small>
            </div>
            <h4><a class="article-title" href="#">Service Type</a></h2>
            <p class="article-content">Description</p>
            <h5>Preferred Timing</h5>
            <button class="btn btn-primary">View Order</button>
            </div>
        </article>

        <article class="media content-section">
            <div class="media-body">
            <div class="article-metadata">
                <a class="mr-2" href="#">Customer</a>
                <small class="text-muted">Date Ordered</small>
            </div>
            <h4><a class="article-title" href="#">Service Type</a></h2>
            <p class="article-content">Description</p>
            <h5>Preferred Timing</h5>
            <button class="btn btn-primary">View Order</button>
            </div>
        </article>
    </form>

{% endblock content %}