{% extends "ucnitk/base.html" %}
{% load static %}
{% block content %}
    {% for order in orders %}

    <div class="content-section " style="background-color:white; border-radius:10px; width:50%; margin:auto;margin-bottom:10px; padding:20px; border-style:ridge; box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;">
    <article class="media content-section">
        <div class="media-body">
        <!-- <div class="article-metadata">
            <a class="mr-2" href="#">{{ order.Customer}}</a>
            <small class="text-muted">{{ order.QueuedTime}}</small>
        </div> -->
        <div class = "article-metadata">
            <a class = "mr-2">{{order.Status}}</a>
            {% if order.Status == 'Not Accepted' %}
                <small class = "text-muted"> {{ order.QueuedTime}}</small>
            {% elif order.Status == 'Accepted' %}
                <small class = "text-muted"> {{ order.AcceptedTime}}</small>
            {% else %}
                <small class = "text-muted"> {{ order.FinishedTime}}</small>
            {% endif %}
        </div>

        <h4><a class="article-title">{{order.ServiceType}}</a></h4>
        <p class="article-content">{{ order.Description}}</p>
        <p class="article-content">{{ order.PreferredTime}}</p>
        <a class="btn btn-primary" href = "{% url 'order-detail' order.id  %}">View Order</a>
        </div>
    </article>
    </div>
    {% endfor %}

{% endblock content %}

{% block sidebar %}

<div id='sidebar_offers'></div>
<br />
<div id = 'sidebar_ads'></div>
{% endblock sidebar%}

{% block extra_js %}
<script src="{% static '/react/card.js' %}" type="text/babel"></script>
<script src="{% static '/react/ads.js' %}" type="text/babel"></script>
{% endblock extra_js %}